.footer-area {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.footer-copyright {
    display: flex;
    align-items: center;
}

.footer-menu ul li {
    display: inline-block;
}

.footer-menu ul li a {
    padding: 32px 16px;
    color: #282938;
    font-weight: 500;
}